@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
* {
  margin: 0;
  padding: 0;
}

/* 전체 */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(71, 69, 69);
}
ol {
  list-style-position: inside;
}

/* 리모컨 */
.remote {
  border: 1px solid grey;
  box-sizing: border-box;
  margin: 15px;
  padding: 10px;
  width: 100px;
  height: 65px;
  text-align: center;
  position: fixed;
  top: 600px;
  right: 50px;
}
.remote ul {
  list-style: none;
}

/* 메인 */
.whole {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 1200px;
}
.box1_1 {
  background-image: url(/images/back.png);
  background-size: cover;
  width: 1200px;
  height: 500px;
}
.box1_1 i {
  font-size: 50px;
  position: fixed;
  top: 30px;
  left: 950px;
}
.box1_1 i:hover {
  opacity: 0.5;
}
.box1 {
  display: flex;
  background: linear-gradient(to right, #00ff00, #00b7ff, #ff00ff, rgb(255, 255, 0));
  height: 280px;
  width: 900px;
  position: absolute;
  top: 100px;
  left: 100px;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 200px;
}
.whole,
.contentContainer,
.content {
  display: flex;
}
.content {
  justify-content: space-between;
}
.mma {
  height: 200px;
  text-align: center;
  line-height: 170px;
  font-size: 200px;
  font-weight: bold;
}
.year {
  writing-mode: vertical-lr;
  font-weight: bolder;
  text-align: center;
  font-size: 80px;
}
.like-music {
  width: 220px;
  font-size: 25px;
  font-weight: bolder;
  padding-top: 50px;
}
.content p {
  margin-right: 10px;
  margin-bottom: 10px;
}
.contentContainer {
  display: flex;
}
.contentContainer > p {
  line-height: 100px;
}
.the {
  margin-top: -30px;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}

.box2 {
  background-image: url(/images/night_festival.jpg);
  background-size: cover;
  padding-left: 100px;
  height: 600px;
}
.box2 p {
  font-weight: bolder;
  font-size: 25px;
  margin: 10px;
}
.box2 .green {
  color: #00ff00;
  margin-top: 100px;
}
.box2 .white {
  color: white;
  margin-bottom: 50px;
}
.box2 .big {
  font-size: 60px;
}
.box2 a {
  background-color: #00ff00;
  color: black;
  font-size: 30px;
  margin: 0px;
  padding: 10px;
}
.box2_2 {
  margin-left: 10px;
  margin-top: 100px;
}

.box3 {
  border: 1px solid yellow;
}

/* 푸터 */
footer {
  border-top: 1px solid gray;
  margin: 15px;
  clear: both;
  text-align: left;
  padding: 5px;
}
.announce {
  display: flex;
}
.ann {
  display: flex;
  padding: 15px;
  align-items: center;
}
.ann a {
  width: 300px;
  color: gray;
  margin-left: 20px;
}
.cl {
  padding: 15px;
  text-align: center;
  color: gray;
}
.cl p {
  font-size: small;
  display: inline;
}
.f_nav {
  text-align: center;
  font-size: small;
  color: black;
}
.f_nav1:hover {
  text-decoration: underline;
}
