*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
}
/* 헤더  */
header{
    display: flex;
    background-color: lightslategray;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
}
header a:hover{
    color: lightgreen;
    text-decoration: underline;
}
#search_{
    width: 300px; height: 30px;
}
/* 메인 */
/* 로고 이미지는 임시로 올렸어요 추후 수정 예정 */
main{
    background-image: url(https://cdn.pixabay.com/photo/2020/01/31/07/53/man-4807395_1280.jpg);
    background-repeat: no-repeat;
    height: 800px; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
main h1,h2,div{
    margin: 20px;
}
button{
    width: 200px; height: 50px;
    background-color: lightblue;
    border-radius: 20px;
}
main a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
main button:hover{
    background-color: beige;
    transform: scale(1.1);
}
/* 푸터 */
footer{
    margin-left: 50px;
}
footer h2{
    background-color: aqua;
    margin-left: 100px;
}
ul{
    list-style: none;
}
li{
    
}