*{
    margin: 0;
    padding: 0;
}
.container{
    width: 900px;
    border: 1px solid red;
    margin: 0 auto;
}
/* 헤더 부분 시작 */
header{
    display: flex;
    background-color: bisque;
    height: 70px; 
    align-items: center;
}
a{
    text-decoration: none;
    color: gray;
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav a{
    padding: 15px;
}
a:hover{
    color: aqua;
    background-color: aliceblue;
}

/* 메인 부분 시작 */
main{
    background-image: url(../images/coffee-2242213_1280.jpg);
    background-repeat: no-repeat;
    height: 600px;
}

/* 푸터 부분 시작 */
footer{
    color: gray;
    font-weight: 600;
}